h1 { 
    color: rgb(102, 255, 140);
    width: 200px;
   }

h2 {
    color: #414a4c;
    width: 200px;
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 120%;
}

em {
    font-size: 120%;
}

img {
    width: 50%;
}

ul {
    list-style-type: circle;
}